<h1>Task Manager</h1>

<p>Hello, I am <%= @created_by %></p>
<p>You can find my tasks below:</p>

<%= link_to('Categories', categories_path) %><br />

<%= link_to('Tasks', tasks_path(page: 1)) %><br />
<%= link_to('About', about_path) %><br />







